* {
	background-color: #ECF8FE;
}
body {
	position: relative;
	padding-top: 46px;

}
header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 90;

}
	header a img {
	color: #FA6980;
	width: 35.54px;
	height: 9.55px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 104.46px;
}
header nav {
	display: inline-block;
	vertical-align: middle;


}
header nav li {
	display: inline-block;
	vertical-align: middle;
	
	font-size: 11px;
	line-height: 14.98px;
	
}
header nav li a {
	margin-right: 27px;
	color: #959798;
	text-transform: uppercase;
}
header nav li a.active {
	color: black;
	font-weight: bold;

}
header .profile {
	margin-top: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.container {
	display: inline-block;
	vertical-align: top;
	
	
}
.container h2 {
	width: 126px;
	height: 19px;
	margin: 30px 1174px 40px 140px; 
	color: #000000;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	
}
.container div ul {
	display: inline-block;
	vertical-align: top;
}

.container div ul li div {
	display: inline-block;
	vertical-align: top;
	width: 1160px;
	height: 409px;
	margin-top: 40px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: #FFFFFF;
	border-radius: 6px;

}
.container div ul li div.box-1 {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	height: 350px;
	margin: 40px 40px 60px 140px;
	position: relative;
}
.container div ul li div.box-1 p.description {
	color: #FA6980;
	font-size: 16px;
	font-weight: bold;
	width: 114px;
	height: 12px;
	
	
	top: 29px;
	right: 209px;
	bottom: 147px;
	left: 37px;
	position: absolute;
	line-height: 21.79px;

}
.container.container div ul li div.box-1 p.text {
	width: 280px;
	height: 45px;
	color: #A6ADB4;
	font-size: 13px;
/*	background-color: #FFFFFF;*/
	margin: 24px 40px 40px 40px;
}
.container.container div ul li div.box-1 img.icon {
	display: inline-block;
	vertical-align: top;
	margin-right: 11px;
	magrin-botton: 40px;
	margin-left: 40px;
/*	background-color: #FFFFFF;*/
}
.container.container div ul li div.box-1 p {
	display: inline-block;
	vertical-align: top;
	color: #A6ADB4;
}
.container.container div ul li div.box-2 {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	height: 350px;
	position: relative;

}
.container.container div ul li div.box-2 p.description {
	color: #wgite;
	font-size: 16px;
	font-weight: bold;
	width: 114px;
	height: 12px;
	
	
	top: 29px;
	right: 209px;
	bottom: 147px;
	left: 37px;
	position: absolute;

}
.container.container div ul li div.box-2 p.text {
	width: 280px;
	height: 45px;
	color: #A6ADB4;
	font-size: 13px;
	background-color: #FFFFFF;
	margin: 24px 40px 40px 40px;
}
.container div ul li div.box-2 img.icon {
	display: inline-block;
	vertical-align: top;
	margin-right: 11px;
	magrin-botton: 40px;
	margin-left: 40px;
	background-color: #FFFFFF;
}
.container div ul li div.box-2 p {
	display: inline-block;
	vertical-align: top;
	background-color: #FFFFFF;
	color: #A6ADB4;
}
.container div ul li div.box-3 {
	display: inline-block;
	vertical-align: top;
	width: 360px;
	height: 350px;
	position: relative;

}
.container div ul li div.box-3 p.description {
	color: #FA6980;
	font-size: 16px;
	font-weight: bold;
	width: 114px;
	height: 12px;
/*	background-color: #FFFFFF;*/
	
	top: 29px;
	right: 209px;
	bottom: 147px;
	left: 37px;
	position: absolute;

}
.container div ul li div img {
	margin: auto;
}
.container div ul li div.box-3 p.text {
	width: 280px;
	height: 45px;
	color: #A6ADB4;
	font-size: 13px;
	background-color: #FFFFFF;
	margin: 24px 40px 40px 40px;
}
.container div ul li div.box-3 img.icon {
	display: inline-block;
	vertical-align: top;
	margin-right: 11px;
	magrin-botton: 40px;
	margin-left: 40px;
	background-color: #FFFFFF;
}
.container div ul li div.box-3 p {
	display: inline-block;
	vertical-align: top;
	background-color: #FFFFFF;
	color: #A6ADB4;
}

.container-2 {
	display: block;
	vertical-align: middle;
}
.container-2 h2 {
	display: block;
	vertical-align: middle;
	font-size: 24px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
/*	margin-top: 60px;*/
	margin-right: 1089px;
	margin-bottom: 60px;
	margin-left: 140px;
	width: 1160px;
	height: 977px;
	
}
.container-2 .bridge {
	margin-top: -1260px;
	margin-right: 40px;
	
	margin-left: 140px;
	display: block;
	vertical-align: middle;
}
.container-2 .forest {
	margin-top: 40px;
	margin-bottom: 40px;
	margin-left: 140px;
	display: block;
	vertical-align: middle;
}
.container-2 div {
	display: inline-block;
	vertical-align: middle;
}
.container-2 div div {
	display: inline-block;
	vertical-align: middle;
}
.container-2 div.photo {
	margin-top: 60px;
	margin-right: 140px;
	margin-bottom: 100px;
	width: 360px;
	height: 830px;
	
}
footer {
	background-color: #A6ADB4;
}
footer img {
	color: #FFFFFF;
	margin-top: 60.57px;
	margin-right: 1263.29px;
	margin-bottom: 129.87px;
	margin-left: 141.17px;
}

